/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@font-face {
    font-family: Skate;
    src: url("./lib/fonts/skate.otf") format("opentype");

  }

  @font-face {
    font-family: Sucrose;
    src: url("./lib/fonts/SucroseBoldTwoDemo-BnmV.otf") format("opentype");
  }